@import "./_vars";

html,
body {
  background: $background;
  color: $font-color;
}

.text-theme {
  color: $theme;
}

.web-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > header,
  & > main,
  & > section,
  & > div,
  & > footer {
    width: 100%;
    min-width: 100%;
  }
  footer {
    margin-top: auto;
  }
}

.line {
  position: relative;
  &:before {
    content: "";
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 1px;
    background: black;
    opacity: 0.2;
  }
}

.text-theme {
  color: $theme;
}
